@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
:root{
    --primary-color:#231F20;
    --secondary-color:#cd2128;
    --complimentary-color:#21cdc6;
    --ternary-color:#929394;
}
body{
    overflow-x: hidden;
    height: 100%;
    background-color: #ffff;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
#logo_image{
    width: 80px;
    border: none;
}
#logo_div{
    display: flex;
    flex-direction: row;
}
#logo_text{
    align-self: center;
    margin-left: 5px;
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}
.pages{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links{
    margin-right: 50px;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    color: black;
}
#intro_section{
    height: 85vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/header-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#opening_statement{
    text-align: center;
    margin-left: 20px;
    width:500px;
    position: absolute;
    top:30%;
}
#opening_statement_paragraph{
    color: white;
    font-family:'PT Serif',sans-serif ;
    font-size: 2rem;
}
.btn-primary{
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  font-family: 'PT Serif',sans-serif;   
}

#intro_paragraph{
    color: white;
    font-family: 'PT Serif';
    font-size: 1.2rem;
    margin-top: 15px;
}
.cards{
    color: white;
    padding: 10px;
    font-family: 'PT Serif',sans-serif;
}
#mission{
    background-color: rgb(24, 155, 150);
}
#vision{
 background-color: rgb(28, 170, 165);
}
#goals{
background-color: var(--complimentary-color);    
}
#what_we_do{
    padding: 30px;
}
#org_bio{
    font-family: 'PT Serif';
}
#org_bio h4{
    color: var(--secondary-color)
}
#mission_statement{
    padding: 30px;
}
#support h4{
    color: #ffff;
}
#support{
    padding: 20px;
    color: #ffff;
    background-color: var(--secondary-color);
}
#projects{
 font-family: 'PT Serif',sans-serif;
}
.card-body{
    padding: 10px;
}
#heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-angle-right{
    cursor: pointer;
}