@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#cd2128;
    --complimentary-color:#21cdc6;
    --secondary-color:#929394;
    --ternary-color:#000000;
}
body{
    overflow-x: hidden;
}
@font-face{
    font-family: main_Font;
    src: url(/fonts/MADE\ Bon\ Voyage\ Regular\ PERSONAL\ USE.otf);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.links{
    text-decoration: none;
    color: white;
    font-family: main_Font;
    margin-right: 100px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.links:hover{
    color: var(--complimentary-color);
}
#landing_page{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url('/images/header-img.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo_img{
    width: 100px;
}

.btn-warning{
    border-radius: 20px !important;
    color: white !important;
    width: 130px;
    font-weight: bolder !important;
}
.cont{
    visibility: hidden;
    z-index: 1;
}
.circle button{
    position: absolute;
    top:50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border:0;
    font-size: 26px;
    color: white;
}
.circle button:focus{
    outline: none;
}
.circle button#open{
    left:60%;
}
.circle button#close{
    top:60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.circle-cont{
    position: fixed;
    top:-100px;
    left:-100px;
    z-index: 1;
}
.circle{
    background-color: #ffc107;;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}
.nav-btn{
    border:none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}
.nav{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.nav.visible{
    transform: translateX(0);
}
.nav-black{
    background-color: rgb(34, 31, 31) ;
    width:60%;
    max-width: 480px;
    min-height: 320px;
    transition-delay: 0.4s;
}
.nav-black.visible{
    transition-delay: 0s;
}
.nav-red{
    background-color: var(--primary-color) ;
    width:95%;
    transition-delay: 0.2s;
}
.nav-red.visible{
    transition-delay: 0.2s;
}
.nav-white{
    background-color: #ffff ;
    width:95%;
    padding: 40px;
    position: relative;
    transition-delay: 0s;
}
.nav-white.visible{
    transition-delay: 0.4s;
}
.close-btn{
    position:absolute;
    top:40px;
    right: 40px;
    opacity: 0.3;
}
.list{
    list-style-type: none;
    padding:10px;
}
.list li{
    margin: 20px 0;
}
.list li a{
    color: rgb(34, 31, 31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.list ul{
    list-style-type:none;
    padding-left:20px ;
}
#test{
    display: flex;
    flex-direction: column-reverse;
}
#text_opening{
    font-family: mainFont;
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: absolute;
    left: 5%;
    top:30%;   
}
#first_p{
    font-size: 2.5em;
    line-height: 1;
}
#second_p{
text-align: justify;
font-size: 1.3em;
}
#header_buttons{
    display: flex;
    justify-content:left;
    margin-top: 15px;
}
.btn{
    border-radius: 0 !important;
    width: 120px;
    font-size: 1.2em !important;

}
.btn-info{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: white !important;
}
.btn-dark{
    margin-left: 15%;
}
#org_bio{
    display: flex;
    flex-direction: column;  
}
.box{
    height: 400px;
    font-family: my_Font;
}
#box_1 p{
    text-align: center;
    padding: 20px;
    font-size: 3em;
    position: relative;
    top:30%; 
}
#mission_header{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}
#vision_header{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}
#box_2{
    background-color: var(--primary-color);
    color: white;
    padding:70px;
}
#box_3{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url('/images/vision_img.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:70px;
    color: white;
}
#footer{
    background-color: black;
    padding:50px;
    font-family: my_Font;
}
#footer h5{
    color: yellow;
}
.tweeter_feed{
    color: white;
}
#stats{
    max-height: 450px;
    padding: 20px;
    font-family: my_Font;
}
#myChart{
    max-height: 450px;
}
/* #box_4{
    padding:70px;
    color: black;   
}
.values_list{
    text-align: justify;
    list-style-type: disc;
}
#values_header{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
} */
@media (max-width:1200px){
    .links{
        margin-right: 40px;
        font-size: 1rem;
    }
}
@media (max-width:1030px){
    #box_2{
        height: 600px;
    }
    #box_3{
        height: 600px;
    }
}
@media (max-width:800px){
    .links{
        margin-right: 20px;
        font-size: 1rem;
    }
}
@media (max-width:714px){
    nav{
        display: none
    }
    .cont{
        visibility: visible;
    }
    #first_p{
        font-size: 2em;
        line-height: 1;
    }
    #second_p{
    text-align: justify;
    font-size: 1em;
    font-weight: bold;
    }
    #text_opening{
        left:3%;
        top:40%;
        padding: 10px;
    }
    .btn{
        border-radius: 0 !important;
        width: 110px;
        font-size: 1em !important;
    
    }
    .btn-dark{
        margin-left: 10%;
    }
    #landing_page{
        width: 100vw;
        height: 100vh;
        background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url('/images/header-img.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #box_2{
        height: 700px;
    }
    #box_3{
        height: 700px;
    }
    #box_1{
        background-color: var(--complimentary-color);
    }
    #box_1 p{
        text-align: center;
        padding: 10px;
        font-size: 2em;
        position: relative;
        top:30%; 
    }
    #mission_header{
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
    }
    #vision_header{
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
    }
    #box_2{
        background-color: var(--primary-color);
        color: white;
        padding:50px;
    }
    #box_3{
        background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url('/images/vision_img.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding:40px;
        color: white;
    }    
}