@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary-color:#cd2128;
    --complimentary-color:#21cdc6;
    --secondary-color:#929394;

}
@font-face{
    font-family: main_Font;
    src: url(/fonts/MADE\ Bon\ Voyage\ Regular\ PERSONAL\ USE.otf);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.links{
    text-decoration: none;
    color: white;
    font-family: main_Font;
    margin-right: 100px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.links:hover{
    color: var(--complimentary-color);
}
#landing_page{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.1)),url('/images/header-img.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#logo_img{
    width: 100px;
}

.btn-warning{
    border-radius: 20px !important;
    color: white !important;
    width: 130px;
    font-weight: bolder !important;
}
.cont{
    visibility: hidden;
}
.circle button{
    position: absolute;
    top:50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border:0;
    font-size: 26px;
    color: white;
}
.circle button:focus{
    outline: none;
}
.circle button#open{
    left:60%;
}
.circle button#close{
    top:60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.circle-cont{
    position: fixed;
    top:-100px;
    left:-100px;
}
.circle{
    background-color: var(--primary-color);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}
.nav-btn{
    border:none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}
.nav{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
.nav.visible{
    transform: translateX(0);
}
.nav-black{
    background-color: rgb(34, 31, 31) ;
    width:60%;
    max-width: 480px;
    min-height: 320px;
    transition-delay: 0.4s;
}
.nav-black.visible{
    transition-delay: 0s;
}
.nav-red{
    background-color: var(--primary-color) ;
    width:95%;
    transition-delay: 0.2s;
}
.nav-red.visible{
    transition-delay: 0.2s;
}
.nav-white{
    background-color: #ffff ;
    width:95%;
    padding: 40px;
    position: relative;
    transition-delay: 0s;
}
.nav-white.visible{
    transition-delay: 0.4s;
}
.close-btn{
    position:absolute;
    top:40px;
    right: 40px;
    opacity: 0.3;
}
.list{
    list-style-type: none;
    padding:10px;
}
.list li{
    margin: 20px 0;
}
.list li a{
    color: rgb(34, 31, 31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.list ul{
    list-style-type:none;
    padding-left:20px ;
}
#test{
    display: flex;
    flex-direction: column-reverse;
}
@media (max-width:1200px){
    .links{
        margin-right: 40px;
        font-size: 1rem;
    }
}
@media (max-width:800px){
    .links{
        margin-right: 20px;
        font-size: 1rem;
    }
}
@media (max-width:714px){
    nav{
        display: none
    }
    .cont{
        visibility: visible;
    }
    
}